*{
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    margin: 0;
    padding: 0;
}
.title{
    color: tomato;
}

.tttg{
    border: 4px solid black;
    width: 100%;
    height: 100%;
    font-size: 110px;
}



.tttBox{
    display: grid;
    width: 400px;
    height: 400px;
    background-color: rgb(255, 218, 247);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#b1{
    border-top: 0px;
    border-left: 0px;
}
#b2{
    border-top: 0px;
}
#b3{
    border-top: 0px;
    border-right: 0px;
}
#b4{
    border-left: 0px;
}
/* #b5{

}  */  
#b6{
    border-right: 0px;
}
#b7{
    border-left: 0px;
    border-bottom: 0px;
}
#b8{
    border-bottom: 0px;
}
#b9{
    border-bottom: 0px;
    border-right: 0px;
}
#winner{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}